
/* //Table head design css*/

/* .select-page-limit {
    width: 80px;
    height: 30px !important;
    padding: 0px 10px !important;
    border: 1px solid #aaa;
    border-radius: 3px;
    background-color: #484a56;
}

.dataTables_filter_search {
    width: 97%;
    border: 1px solid #dedede;
    border-radius: 3px;
    padding: 5px;
    background-color: transparent;
    color: gray;
    margin-left: 3px;
} */

.ts-control {
    border: none !important;
    padding: 0 !important;
    width: auto !important;
    overflow: visible !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    display: block !important;
    flex-wrap: nowrap !important;
}

 
